.tasks-wrapper {
  display: flex;
  gap: 20px;

  .todo, .in-progress, .done{
    flex: 1;
  }

  .priority {
    display: inline;
    padding: 5px;
    border-radius: 10px;
    max-width: max-content;
    color: white;
    text-transform: capitalize;

    &.high {
      background-color: #F44336;
    }

    &.medium {
      background-color: #FF6E40;
    }

    &.low {
      background-color: #69F0AE;
    }

  }

}
