mat-toolbar {
  padding-top: 20px;
  padding-bottom: 20px;

  span {
    color: #ffffff;
  }
}

.example-container {
  width: 100%;
  border: 1px solid #a29f9f;
  height: 100%;

  .content {
    padding: 20px;
  }

  .sidebar {
    width: 200px;
  }
}
