mat-toolbar {
  padding-top: 20px;
  padding-bottom: 20px;
  //background-color: #80bbab;

  span {
    color: #ffffff;
  }
}

.example-container {
  width: 100%;
  border: 1px solid #a29f9f;
  position: relative;
  height: 100%;

  .content {
    padding: 20px;
  }

  .sidebar {
    width: 200px;
  }

  .add-task {
    position: fixed;
    right: 20px;
    bottom: 20px;
  }
}
